@model Hotel_LandLyst_WebApp.Models.SuccessModel
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (Model.CostumerModel != null)
{
    <p>Der er nu oprettet en ny kunde til data basen</p>
}

@if (Model.FurnitureModel != null)
{
    <p>Der er nu oprettet et nyt værelsestilbehør til data basen</p>
}

@if (Model.RoomModel != null)
{
    <p>Der er nu oprettet et nyt rum til data basen</p>
}

@if (Model.EmployeeModel != null)
{
    <p>Der er nu oprettet en ny Medarbejder til data basen</p>
}
