@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h1 class="display-4">Velkommen til LandLyst kro og hotel</h1>
    <div>

        <ol style="display:inline-block;">
            <li>
                <h5>Over 50 værelser</h5>
            </li>
            <li>
                <h5>Jacuzzi</h5>
            </li>
            <li>
                <h5>Egen altan</h5>
            </li>
            <li>
                <h5>Badekar</h5>
            </li>
        </ol>
    </div>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div data-target="#myCarousel" class="carousel-item">
            <img class="img-fluid" src="~/images/Hotelbillede.png" alt="Hotelet" style="width:100%;">
        </div>

        <div data-target="#myCarousel" class="carousel-item active">
            <img class="img-fluid" src="~/images/BadeVærelse.png" alt="Badeværelse" style="width:100%;">
        </div>

        <div data-target="#myCarousel" class="carousel-item">
            <img class="img-fluid" src="~/images/Værelse1.png" alt="Værelses billed 1" style="width:100%;">
        </div>

        <div data-target="#myCarousel" class="carousel-item">
            <img class="img-fluid" src="~/images/Værelse1.png" alt="Værelses billed 2" style="width:100%;">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon carousel-control-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon carousel-control-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myCarousel').carousel('cycle')
    })
</script>



