@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
        <h1 class="display-4">Velkommen til LandLyst kro og hotel</h1>
    <div>
        
        <ol style="display:inline-block;">
            <li>
                <h5>Over 50 værelser</h5>
            </li>
            <li>
                <h5>Jacuzzi</h5>
            </li>
            <li>
                <h5>Egen altan</h5>
            </li>
            <li>
                <h5>Badekar</h5>
            </li>
        </ol>
    </div>
    <div class="container-fluid">
        <img src="~/images/Hotelbillede.png" style="width:500px; height:450px;"/>
    </div>

</div>

