@{
    ViewData["Title"] = "Privacy Policy";
}
<div>
    <ul style="display:inline-block">
        <li style="display:block;">
            <h4>Denne side ejes af:</h4>
        </li>
        <li style="display:block;">
            <h5>
                Marianne Johansen
            </h5>
        </li>
        <li style="display:block;">
            <h5>
                Poul Johansen
            </h5>
        </li>
    </ul>
    <img src="~/images/Ejerne.png" height="250" width="250"/>
</div>
