@{
    ViewData["Title"] = "Room Plan";
}

<div class="container-fluid">
    <div class="container-fluid">
        <h3>
            1 Sal
        </h3>
        <div style="border:2px solid black; width:753px;" >
            <img src="~/images/FirstFloor.png" width="750" height="850"/>
        </div>
    </div>
    <div class="container">
        <h3>
            2 Sal
        </h3>
        <div style="border:2px solid black; width:753px;">
            <img src="~/images/SecondFloor.png" width="750" height="850"/>
        </div>
    </div>
    <div class="container">
        <h3>
            3 Sal
        </h3>
        <div style="border:2px solid black; width:753px;">
            <img src="~/images/ThirdFloor.png" width="750" height="850"/>
        </div>
    </div>
</div>